@import "tailwindcss";

:root {
  --primary: #25272C;
  --secondary: #43567D;
  --background: #FAFAFA;

  /* Status Colors */
  --submitted: #6B21A8;
  --reviewing: #1D4ED8;
  --assigned: #0369A1;
  --progress: #B45309;
  --hold: #D97706;
  --resolved: #15803D;
  --reopen: #C2410C;
  --closed: #475569;
  --cancelled: #6B7280;
  --rejected: #B91C1C;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  
  --font-sans: var(--font-roboto);
  --font-jetbrains: var(--font-jetbrains-mono);

  /* Status Colors */
  --color-submitted: var(--submitted);
  --color-reviewing: var(--reviewing);
  --color-assigned: var(--assigned);
  --color-progress: var(--progress);
  --color-hold: var(--hold);
  --color-resolved: var(--resolved);
  --color-reopen: var(--reopen);
  --color-closed: var(--closed);
  --color-cancelled: var(--cancelled);
  --color-rejected: var(--rejected);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--primary);
  color: var(--background);
}
