@import "tailwindcss";

:root {
  --primary: #25272C;
  --secondary: #43567D;
  --background: #FAFAFA;

  /* Status Colors */
  --submitted: #0284c7;
  --reviewing: #d97706;
  --assigned: #7c3aed;
  --progress: #0284c7;
  --hold: #ea580c;
  --resolved: #16a34a;
  --reopen: #9333ea;
  --closed: #6b7280;
  --cancelled: #e50000;
  --rejected: #dc2626;

  --critical: #b91c1c;
  --high: #f97316;
  --medium: #f59e0b;
  --low: #0640b6;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-link-blue: #0059c0;
  
  --font-sans: var(--font-roboto);
  --font-jetbrains: var(--font-jetbrains-mono);

  /* Status Colors */
  --color-submitted: var(--submitted);
  --color-reviewing: var(--reviewing);
  --color-assigned: var(--assigned);
  --color-progress: var(--progress);
  --color-hold: var(--hold);
  --color-resolved: var(--resolved);
  --color-reopen: var(--reopen);
  --color-closed: var(--closed);
  --color-cancelled: var(--cancelled);
  --color-rejected: var(--rejected);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--primary);
  color: var(--background);
}

@utility loginFormBtn {
  @apply h-11 md:h-12 border-none bg-primary text-background hover:bg-secondary rounded-xl font-medium text-sm transition-all cursor-pointer
}

@utility createTicketBtn {
  @apply flex items-center gap-2 px-6! sm:px-10! py-4! sm:py-6! text-sm sm:text-base
}

@utility slaCardsContainer {
  @apply flex flex-col lg:flex-row justify-between items-start my-6 md:my-10 text-primary border-b border-primary pb-8 md:pb-10 gap-6 lg:gap-8
}

